.DS_Store
node_modules
primihub-webconsole/node_modules/
dist/
# package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.project
.settings/*
*/.classpath
*/.project
*/.settings/*
*target*
*/bin/*
logs/*
*.log
*/*.log
*/*.log.*
*/workspace.xml
.svn/*
*.class
.classpath
/target/
/.externalToolBuilders/
*.iml
*/*.iml
rebel.xml
*/rebel.xml
venv*
*.sqlite3
*.pyc
__pycache__