<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.biz.repository.resourceprimarydb.test.TestResourcePrimaryRepository">
    <update id="createTestTable">
        CREATE TABLE `test`  (
                 `id` bigint(20) NOT NULL AUTO_INCREMENT,
                 PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>

    <update id="dropTestTable">
        drop TABLE IF EXISTS `test`
    </update>

    <insert id="insertTestTable">
        insert into `test` values()
    </insert>
</mapper>