<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.biz.repository.primarydb.sys.SysOrganPrimarydbRepository">

    <insert id="insertSysOrgan" useGeneratedKeys="true" keyProperty="organId">
        insert into sys_organ(organ_name,p_organ_id,r_organ_id,full_path,organ_index,organ_depth,is_del)
        values(#{organName},#{pOrganId},#{rOrganId},#{fullPath},#{organIndex},#{organDepth},#{isDel})
    </insert>

    <update id="updateROrganIdAndFullPath">
        update sys_organ set <if test="rOrganId!=null">r_organ_id=#{rOrganId},</if>full_path=#{fullPath}  where organ_id=#{organId}
    </update>

    <update id="updateSysOrganExplicit">
        update sys_organ
        <set>
            <if test="organName!=null">organ_name = #{organName},</if>
        </set>
        where organ_id=#{organId}
    </update>

    <update id="updateOrganDelStatus">
        update sys_organ set is_del=1 where FIND_IN_SET(#{organId},full_path)
    </update>

</mapper>