<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.biz.repository.primarydb.sys.SysUserPrimarydbRepository">

    <insert id="insertSysUser" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user(user_account,user_password,user_name,role_id_list,is_forbid,is_editable,auth_uuid,is_del,register_type)
        values(#{userAccount},#{userPassword},#{userName},#{roleIdList},#{isForbid},#{isEditable},#{authUuid},#{isDel},#{registerType})
    </insert>

    <update id="updateSysUserExplicit">
        update sys_user
        <set>
            <if test="isForbid!=null ">is_forbid = #{isForbid},</if>
            <if test="userPassword!=null and userPassword!='' ">user_password = #{userPassword},</if>
            <if test="userName!=null and userName!='' ">user_name = #{userName},</if>
            <if test="roleIdList!=null and roleIdList!='' ">role_id_list = #{roleIdList},</if>
            <if test="authUuid!=null and authUuid!='' ">auth_uuid = #{authUuid},</if>
        </set>
        where user_id=#{userId}
    </update>

    <insert id="insertSysUrBatch">
        insert into sys_ur(user_id,role_id,is_del)
        values
        <foreach collection="urList" item="ur" separator=",">
            (#{ur.userId},#{ur.roleId},#{ur.isDel})
        </foreach>
    </insert>

    <delete id="deleteSysUrBatch">
        delete from sys_ur
        WHERE user_id=#{userId}
        <!--and role_id IN
        <foreach collection="roleArray" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>-->
    </delete>

    <update id="updateSysUserDelStatus">
        update sys_user set is_del=1 where user_id=#{userId}
    </update>
    <update id="updateUserAccount">
        update sys_user set user_account=#{userAccount} where user_id=#{userId}
    </update>

    <update id="updateUserIp">
        update sys_user set ip=#{ip} where user_id=#{userId}
    </update>

</mapper>