.margin-top-5{
  margin-top: 5px;
}
.margin-bottom-5{
  margin-bottom: 5px;
}
.margin-left-10{
  margin-left: 10px;
}
.margin-right-10{
  margin-right: 10px;
}
.flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}
.align-items-center{
  align-items: center;
}
.align-items-start{
  align-items: start;
}

