.infos-title{
  font-size: 16px;
}

.desc-col{
  display: flex;
  color: #606266;
  font-size: 14px;
  flex: 1;
  margin-bottom: 12px;
  line-height: 1.5;
}
.desc-label{
  margin-right: 10px;
}
.desc-content{
  flex: 1;
}
