@import "~@/styles/variables.scss";

::v-deep .resource-disabled{
  color: gray;
  filter:progid:DXImageTransform.Microsoft.BasicImage(graysale=1);
    -webkit-filter: grayscale(100%);
}
::v-deep .el-form-item__label{
  width: auto!important;
}
::v-deep .el-form--inline .el-form-item{
  margin: 0px 35px 10px 0;
}
::v-deep .el-tabs__item {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}
.upload-button{
  margin:0 0 20px 0px;
}
.resource {
  .tabs{
    position: relative;
    height: 60px;
  }
  .add-button{
    position: absolute;
    right: 0;
    top: 0px;
  }
}
.tag{
  margin: 0 2px;
}
.search-area{
  margin-bottom: 30px;
}
.search-button{
  margin-left: 20px;
}
.search-area, .resource{
  padding: 20px 40px 20px 40px;
  background-color: #fff;
  border-radius: 12px;
}
.containsy-tag{
  margin-top: 3px;
}
