@import "~@/styles/variables.scss";
::v-deep .el-table,::v-deep .el-divider__text, .el-link{
  font-size: 12px;
}
::v-deep .el-table th.el-table__cell{
  font-size: 14px;
}

::v-deep .el-table .cell{
  line-height: 1.3;
  padding: 0 8px!important;
}
::v-deep .el-form-item__label{
  width: auto!important;
}
::v-deep .el-form--inline .el-form-item{
  margin: 10px 20px;
}
.upload-button{
  margin:0 0 20px 20px;
}
.resource {
  padding: 0 30px;
  background-color: #fff;
}
.tag{
  margin: 0 2px;
}
.search-area{
  margin-bottom: 30px;
}
.search-button{
  margin-left: 20px;
}
.search-area, .resource{
  padding: 30px;
  background-color: #fff;
  border-radius: $sectionBorderRadius;
}
.pagination-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.containsy-tag{
  margin-top: 3px;
}