<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.repository.FusionResourceRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="FusionResourceBaseResultMap" type="com.primihub.entity.resource.po.FusionResource">
        <id column="id" property="id" />
        <result column="resource_id" property="resourceId" />
        <result column="resource_name" property="resourceName" />
        <result column="resource_desc" property="resourceDesc" />
        <result column="resource_type" property="resourceType" />
        <result column="resource_auth_type" property="resourceAuthType" />
        <result column="resource_rows_count" property="resourceRowsCount" />
        <result column="resource_column_count" property="resourceColumnCount" />
        <result column="resource_column_name_list" property="resourceColumnNameList" />
        <result column="resource_contains_y" property="resourceContainsY" />
        <result column="resource_y_rows_count" property="resourceYRowsCount" />
        <result column="resource_y_ratio" property="resourceYRatio" />
        <result column="resource_tag" property="resourceTag" />
        <result column="organ_id" property="organId" />
        <result column="is_del" property="isDel" />
        <result column="c_time" property="cTime" />
        <result column="u_time" property="uTime" />
    </resultMap>

    <resultMap id="FusionResourceFieldBaseResultMap" type="com.primihub.entity.resource.po.FusionResourceField">
        <id column="field_id" property="fieldId" />
        <result column="resource_id" property="resourceId" />
        <result column="field_name" property="fieldName" />
        <result column="field_as" property="fieldAs" />
        <result column="field_type" property="fieldType" />
        <result column="field_desc" property="fieldDesc" />
        <result column="relevance" property="relevance" />
        <result column="grouping" property="grouping" />
        <result column="protection_status" property="protectionStatus" />
        <result column="is_del" property="isDel" />
        <result column="c_time" property="cTime" />
        <result column="u_time" property="uTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Fusion_Resource_Base_Column_List">
        id, resource_id, resource_name, resource_desc, resource_type, resource_auth_type, resource_rows_count, resource_column_count, resource_column_name_list, resource_contains_y, resource_y_rows_count, resource_y_ratio, resource_tag, organ_id, is_del, c_time, u_time
    </sql>

    <sql id="Fusion_Resource_Field_Base_Column_List">
        field_id,resource_id,field_name,field_as,field_type,field_desc,relevance,`grouping`,protection_status,is_del,c_date,u_date
    </sql>

    <insert id="saveFusionResource" parameterType="com.primihub.entity.resource.po.FusionResource" keyProperty="id" useGeneratedKeys="true">
        insert into fusion_resource (resource_id, resource_name, resource_desc, resource_type, resource_auth_type, resource_rows_count, resource_column_count, resource_column_name_list, resource_contains_y, resource_y_rows_count, resource_y_ratio, resource_tag, organ_id, is_del, c_time, u_time)
        values (#{resourceId},#{resourceName},#{resourceDesc},#{resourceType},#{resourceAuthType},#{resourceRowsCount},#{resourceColumnCount},#{resourceColumnNameList},#{resourceContainsY},#{resourceYRowsCount},#{resourceYRatio},#{resourceTag},#{organId},0,now(),now())
    </insert>

    <insert id="saveBatchResourceTag" parameterType="java.lang.String">
        insert into fusion_resource_tag (name, is_del, c_time, u_time)
        values
        <foreach collection="tags" index="index" item="item" separator=",">
            (#{item},0,now(),now())
        </foreach>
    </insert>

    <insert id="saveBatchResourceField" parameterType="com.primihub.entity.resource.po.FusionResourceField">
        insert into fusion_resource_field (resource_id,field_name,field_as,field_type,field_desc,relevance,`grouping`,protection_status,is_del,c_date,u_date)
        values
        <foreach collection="fields" index="index" item="item" separator=",">
            (#{item.resourceId},#{item.fieldName},#{item.fieldAs},#{item.fieldType},#{item.fieldDesc},#{item.relevance},#{item.grouping},#{item.protectionStatus},0,now(),now())
        </foreach>
    </insert>

    <insert id="saveResourceField" parameterType="com.primihub.entity.resource.po.FusionResourceField">
        insert into fusion_resource_field (resource_id,field_name,field_as,field_type,field_desc,relevance,`grouping`,protection_status,is_del,c_date,u_date)
        values (#{resourceId},#{fieldName},#{fieldAs},#{fieldType},#{fieldDesc},#{relevance},#{grouping},#{protectionStatus},0,now(),now())
    </insert>

    <update id="updateFusionResource" parameterType="com.primihub.entity.resource.po.FusionResource">
        update fusion_resource
        <set>
            <if test="resourceName!=null">resource_name = #{resourceName},</if>
            <if test="resourceDesc!=null">resource_desc = #{resourceDesc},</if>
            <if test="resourceType!=null">resource_type = #{resourceType},</if>
            <if test="resourceAuthType!=null">resource_auth_type = #{resourceAuthType},</if>
            <if test="resourceRowsCount!=null">resource_rows_count = #{resourceRowsCount},</if>
            <if test="resourceColumnCount!=null">resource_column_count = #{resourceColumnCount},</if>
            <if test="resourceColumnNameList!=null">resource_column_name_list = #{resourceColumnNameList},</if>
            <if test="resourceContainsY!=null">resource_contains_y = #{resourceContainsY},</if>
            <if test="resourceYRowsCount!=null">resource_y_rows_count = #{resourceYRowsCount},</if>
            <if test="resourceYRatio!=null">resource_y_ratio = #{resourceYRatio},</if>
            <if test="resourceTag!=null">resource_tag = #{resourceTag},</if>
            <if test="organId!=null">organ_id = #{organId},</if>
            u_time = now()
        </set>
        where id = #{id}
    </update>

    <update id="updateResourceField" parameterType="com.primihub.entity.resource.po.FusionResourceField">
        update fusion_resource_field
        <set>
            <if test="fieldAs!=null">field_as = #{fieldAs},</if>
            <if test="fieldType!=null">field_type = #{fieldType},</if>
            <if test="fieldDesc!=null">field_desc = #{fieldDesc},</if>
            <if test="relevance!=null">relevance = #{relevance},</if>
            <if test="grouping!=null">`grouping` = #{grouping},</if>
            <if test="protectionStatus!=null">`protection_status` = #{protectionStatus},</if>
            u_time = now()
        </set>
        where field_id = #{fieldId}
    </update>

    <select id="selectFusionResourceById" resultMap="FusionResourceBaseResultMap">
        select
               id,
               resource_id,
               resource_tag
        from fusion_resource
        where resource_id in
        <foreach collection="resourceIds" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectFusionResource" parameterType="com.primihub.entity.resource.param.ResourceParam" resultMap="FusionResourceBaseResultMap">
        select
            distinct r.id,resource_id resourceId,resource_name resourceName,resource_desc resourceDesc,resource_type resourceType,
            resource_auth_type resourceAuthType,resource_rows_count resourceRowsCount,resource_column_count resourceColumnCount,
            resource_column_name_list resourceColumnNameList,resource_contains_y resourceContainsY,resource_y_rows_count resourceYRowsCount,
            resource_y_ratio resourceYRatio,resource_tag resourceTag,organ_id organId,r.is_del isDel,r.c_time cTime,r.u_time uTime
        from fusion_resource r
        left join fusion_go go on go.organ_global_id =r.organ_id
        where
            go.group_id in
            <foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
            and (r.resource_auth_type=1
                or r.organ_id=#{globalId}
                or (r.resource_auth_type=3 and (select count(1) from fusion_resource_visibility_auth fsva where fsva.resource_id=r.resource_id and fsva.organ_global_id=#{globalId} )=1 ))
            and r.is_del=0
            <include refid="fusionResourceCondition"></include>
        order by r.id desc
        limit #{offset},#{pageSize}
    </select>

    <select id="selectFusionResourceCount" parameterType="com.primihub.entity.resource.param.ResourceParam" resultType="java.lang.Integer">
        select
            count(distinct r.id)
        from fusion_resource r
        left join fusion_go go on go.organ_global_id =r.organ_id
        where
        go.group_id in
        <foreach collection="groupList" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        and (r.resource_auth_type=1 or (r.resource_auth_type=3 and (select count(1) from fusion_resource_visibility_auth fsva where fsva.resource_id=r.resource_id and fsva.organ_global_id=#{globalId} )=1 ))
        and r.is_del=0
        <include refid="fusionResourceCondition"></include>

    </select>

    <select id="selectFusionResourceTag" resultType="java.lang.String">
        select DISTINCT name from fusion_resource_tag
    </select>

    <select id="selectFusionResourceByResourceId" resultMap="FusionResourceBaseResultMap">
        select <include refid="Fusion_Resource_Base_Column_List"/> from fusion_resource where resource_id = #{resourceId}
    </select>

    <select id="selectFusionResourceByResourceIds" resultMap="FusionResourceBaseResultMap">
        select <include refid="Fusion_Resource_Base_Column_List"/>
        from fusion_resource where resource_id in
        <foreach collection="resourceIds" index="index" item="item" separator="," open="(" close=")" >
            #{item}
        </foreach>
    </select>

    <select id="selectFusionResourceFieldById" resultMap="FusionResourceFieldBaseResultMap">
        select
            <include refid="Fusion_Resource_Field_Base_Column_List"/>
        from fusion_resource_field where resource_id = #{resourceId}
        and protection_status = 1
    </select>
    <select id="selectFusionResourceFieldByIds" resultMap="FusionResourceFieldBaseResultMap">
        select
        <include refid="Fusion_Resource_Field_Base_Column_List"/>
        from fusion_resource_field where resource_id in
        <foreach collection="resourceIds" index="index" item="item" separator="," open="(" close=")" >
            #{item}
        </foreach>
        and protection_status = 1
    </select>

    <sql id="fusionResourceCondition">
        <if test="organId!=null and organId!=''">and r.organ_id = #{organId}</if>
        <if test="resourceId!=null and resourceId!=''">and r.resource_id = #{resourceId}</if>
        <if test="resourceName!=null and resourceName!=''">and r.resource_name like CONCAT('%',#{resourceName,jdbcType=VARCHAR},'%')</if>
        <if test="resourceType!=null and resourceType!=0">and r.resource_type = #{resourceType}</if>
        <if test="tagName!=null and tagName!=''">and FIND_IN_SET(#{tagName}, r.resource_tag)</if>
    </sql>

    <delete id="deleteResourceAuthOrgan">
        delete from fusion_resource_visibility_auth where resource_id=#{resourceId}
    </delete>

    <insert id="saveBatchResourceAuthOrgan">
        insert into fusion_resource_visibility_auth (resource_id,organ_global_id, is_del)
        values
        <foreach collection="authOrganList" index="index" item="item" separator=",">
            (#{item.resourceId},#{item.organGlobalId},0)
        </foreach>
    </insert>


</mapper>
