<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.repository.FusionRepository">

    <insert id="insertFusionOrgan" useGeneratedKeys="true" keyProperty="id">
        insert into fusion_organ(global_id,global_name,pin_code_md,gateway_address,register_time,is_del)
        values(#{globalId},#{globalName},#{pinCodeMd},#{gatewayAddress},#{registerTime},#{isDel})
    </insert>

    <update id="updateFusionOrganSpeByGlobalId">
        update fusion_organ set global_name=#{globalName},gateway_address=#{gatewayAddress} where global_id=#{globalId}
    </update>

    <select id="getFusionOrganByGlobalId" resultType="com.primihub.entity.fusion.po.FusionOrgan">
        select
            id,global_id globalId,global_name globalName,pin_code_md pinCodeMd,gateway_address gatewayAddress,register_time registerTime,is_del isDel,c_time cTime,u_time uTime
        from
            fusion_organ
        where global_id=#{globalId}
        limit 1
    </select>

    <select id="selectFusionOrganByGlobalIds" resultType="com.primihub.entity.fusion.po.FusionOrgan">
        select
            id,global_id globalId,global_name globalName,gateway_address gatewayAddress,register_time registerTime,is_del isDel,c_time cTime,u_time uTime
        from
            fusion_organ
        where global_id in
        <foreach collection="globalIds" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>