<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.repository.FusionRepository">

    <insert id="insertFusionOrgan" useGeneratedKeys="true" keyProperty="id">
        insert into fusion_organ(global_id,global_name,pin_code_md,gateway_address,register_time,public_key,private_key,`dispatch`,is_del)
        values(#{globalId},#{globalName},#{pinCodeMd},#{gatewayAddress},#{registerTime},#{publicKey},#{privateKey},#{dispatch},#{isDel})
    </insert>
    <insert id="insertFusionOrganExtends" useGeneratedKeys="true" keyProperty="id">
        insert into fusion_organ_extends(global_id, ip, lat, lon, country, is_del)
        values (#{globalId},#{ip},#{lat},#{lon},#{country},0)
    </insert>

    <update id="updateFusionOrganSpeByGlobalId">
        update fusion_organ  set global_name=#{globalName},gateway_address=#{gatewayAddress},public_key=#{publicKey},private_key=#{privateKey} where global_id=#{globalId}
    </update>
    <update id="updateFusionOrganExtends">
        update fusion_organ_extends set ip=#{ip},lat=#{lat},lon=#{lon},country=#{country} where id=#{id}
    </update>

    <select id="getFusionOrganByGlobalId" resultType="com.primihub.entity.fusion.po.FusionOrgan">
        select
            id,global_id globalId,global_name globalName,pin_code_md pinCodeMd,gateway_address gatewayAddress,register_time registerTime,public_key publicKey,is_del isDel,c_time cTime,u_time uTime
        from
            fusion_organ
        where global_id=#{globalId}
        limit 1
    </select>

    <select id="selectFusionOrganByGlobalIds" resultType="com.primihub.entity.fusion.po.FusionOrgan">
        select
            id,global_id globalId,global_name globalName,gateway_address gatewayAddress,register_time registerTime,public_key publicKey,is_del isDel,c_time cTime,u_time uTime
        from
            fusion_organ
        where global_id in
        <foreach collection="globalIds" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        and `dispatch` = 0
    </select>
    <select id="getFusionOrganExtendsByGlobalId" resultType="com.primihub.entity.fusion.po.FusionOrganExtends">
        select
               id, global_id globalId, ip, lat, lon, country
        from
            fusion_organ_extends where global_id = #{globalId}
    </select>
    <select id="getFusionOrganExtends" resultType="com.primihub.entity.fusion.vo.OrganExtendsVo">
        SELECT
            o.global_id globalId,
            o.global_name globalName,
            e.lat,
            e.lon,
            e.country
        FROM
            fusion_organ o,
            fusion_organ_extends e
        WHERE
            o.id = e.global_id
        and o.dispatch = 0
    </select>

</mapper>