<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.repository.GroupRepository">

    <insert id="insertFusionGroup" useGeneratedKeys="true" keyProperty="id">
        insert into fusion_group(group_name,group_organ_id,is_del)
        values(#{groupName},#{groupOrganId},#{isDel})
    </insert>

    <insert id="insertFusionGo" useGeneratedKeys="true" keyProperty="id">
        insert into fusion_go(group_id,organ_global_id,is_del)
        values(#{groupId},#{organGlobalId},#{isDel})
    </insert>

    <delete id="deleteByUniqueCon">
        delete from fusion_go where group_id=#{groupId} and organ_global_id=#{organGlobalId}
    </delete>

    <select id="selectFusionGo" resultType="boolean">
        select count(1) from fusion_go where group_id=#{groupId} and organ_global_id=#{organGlobalId} and is_del=0
    </select>

    <select id="findAllFusionGroup" resultType="com.primihub.entity.group.vo.FusionGroupVo">
        select
            id,group_name groupName,group_organ_id groupOrganId,is_del isDel,c_time cTime,u_time uTime
        from
            fusion_group
    </select>

    <select id="findOrganInGroup" resultType="Long">
        select
            group_id
        from
            fusion_go
        where organ_global_id=#{organGlobalId}
    </select>

    <select id="findOrganGlobalIdByGroupIdList" resultType="String">
        select
            distinct organ_global_id
        from
            fusion_go
        where group_id in
        <foreach collection="groupIdList" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findOrganDetailInGroup" resultType="com.primihub.entity.fusion.po.FusionOrgan">
        select
            fo.global_id globalId,fo.global_name globalName,fo.gateway_address gatewayAddress,fo.register_time registerTime
        from fusion_go fgo
        left join fusion_organ fo on fgo.organ_global_id=fo.global_id
        where fgo.group_id=#{groupId}
    </select>

</mapper>