<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyds.biz.repository.secondarydb.sys.SysOrganSecondarydbRepository">

    <select id="selectOrganListByParam" resultType="com.yyds.biz.entity.sys.vo.SysOrganListVO">
        select
            organ_id organId,organ_name organName,p_organ_id pOrganId,r_organ_id rOrganId,full_path fullPath,organ_index organIndex,organ_depth organDepth,is_del isDel,c_time cTime,u_time uTime
        from sys_organ
        <trim prefix="where" prefixOverrides="and">
            is_del=0
            <if test="organName != null and organName!='' ">and organ_name like CONCAT('%',#{organName},'%') </if>
            <if test="pOrganId != null">and p_organ_id=#{pOrganId} </if>
        </trim>
        order by organ_id desc
        <if test=" pageIndex != null and pageSize != null">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <select id="selectOrganListCountByParam" resultType="Long">
        select
            count(1)
        from sys_organ
        <trim prefix="where" prefixOverrides="and">
            is_del=0
            <if test="organName != null and organName!='' ">and organ_name like CONCAT('%',#{organName},'%') </if>
            <if test="pOrganId != null">and p_organ_id=#{pOrganId} </if>
        </trim>
    </select>

    <select id="selectSysOrganByOrganId" resultType="com.yyds.biz.entity.sys.po.SysOrgan">
        select
            organ_id organId,organ_name organName,p_organ_id pOrganId,r_organ_id rOrganId,full_path fullPath,organ_index organIndex,organ_depth organDepth,is_del isDel,c_time cTime,u_time uTime
        from sys_organ
        where organ_id=#{organId} limit 1
    </select>

    <select id="selectSysOrganByBatchOrganId" resultType="com.yyds.biz.entity.sys.po.SysOrgan">
        select
            organ_id organId,organ_name organName
        from sys_organ
        where organ_id in
        <foreach collection="organIdSet" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>