<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.biz.repository.secondarydb.sys.SysUserSecondarydbRepository">

    <select id="selectSysUserListByParam" resultType="com.primihub.biz.entity.sys.vo.SysUserListVO">
        select
            user_id userId,user_account userAccount,user_name userName,role_id_list roleIdList,is_forbid isForbid,is_editable isEditable,register_type registerType,auth_uuid authUuid,c_time cTime,u_time uTime
        from sys_user
        <trim prefix="where" prefixOverrides="and">
            is_del=0
            <if test="userName != null and userName!='' ">and user_name like CONCAT('%',#{userName},'%') </if>
            <if test="roleId != null">and FIND_IN_SET(#{roleId}, role_id_List)</if>
        </trim>
        order by user_id desc
        <if test=" pageIndex != null and pageSize != null">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <select id="selectSysUserByUserId" resultType="com.primihub.biz.entity.sys.po.SysUser">
        select
            user_id userId,user_account userAccount,user_name userName,role_id_list roleIdList,is_forbid isForbid,is_editable isEditable,register_type registerType,auth_uuid authUuid,is_del isDel,c_time cTime,u_time uTime
        from sys_user where user_id=#{userId} limit 1
    </select>

    <select id="selectSysUserListCountByParam" resultType="Long">
        select
            count(1)
        from sys_user
        <trim prefix="where" prefixOverrides="and">
            is_del=0
            <if test="userName != null and userName!='' ">and user_name like CONCAT('%',#{userName},'%') </if>
            <if test="roleId != null">and FIND_IN_SET(#{roleId}, role_id_List)</if>
        </trim>
    </select>

    <select id="isExistUserAccount" resultType="Boolean">
        select count(1) from sys_user where user_account=#{userAccount}
    </select>

    <select id="selectSysUserByUserIdSet" resultType="com.primihub.biz.entity.sys.po.SysUser">
        select
            user_id userId,user_account userAccount,user_name userName,role_id_list roleIdList,is_forbid isForbid,is_editable isEditable,register_type registerType,auth_uuid authUuid,is_del isDel,c_time cTime,u_time uTime
        from sys_user where user_id in
        <foreach collection="userIdSet" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectUserByUserAccount" resultType="com.primihub.biz.entity.sys.po.SysUser">
        select
            user_id userId,user_account userAccount,user_name userName,user_password userPassword,role_id_list roleIdList,is_forbid isForbid,is_editable isEditable,register_type registerType,auth_uuid authUuid,is_del isDel,c_time cTime,u_time uTime
        from sys_user where is_del=0 and user_account=#{userAccount} limit 1
    </select>

    <select id="selectSysUserContainPassByUserId" resultType="com.primihub.biz.entity.sys.po.SysUser">
         select
            user_id userId,user_account userAccount,user_name userName,user_password userPassword,role_id_list roleIdList,is_forbid isForbid,is_editable isEditable,register_type registerType,auth_uuid authUuid,is_del isDel,c_time cTime,u_time uTime
        from sys_user where is_del=0 and user_id=#{userId} limit 1
    </select>
    <select id="selectUserByAuthUuid" resultType="com.primihub.biz.entity.sys.po.SysUser">
        select
            user_id userId,user_account userAccount,user_name userName,user_password userPassword,role_id_list roleIdList,is_forbid isForbid,is_editable isEditable,register_type registerType,auth_uuid authUuid,is_del isDel,c_time cTime,u_time uTime
        from sys_user where is_del=0 and auth_uuid=#{authUuid} limit 1
    </select>

</mapper>